/* --- RESET --- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,100;1,400;1,600;1,900&display=swap");

:root {
  --color-red: #f85555;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h5,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
input,
button {
  border: none;
  font-family: inherit;
}
button {
  cursor: pointer;
}
